In [1]:
import pandas as pd
import boto3
import json

import configparser
config = configparser.ConfigParser()
config.read_file(open('../dwh.cfg'))

## Testing copy/insert statements
### COPY

In [3]:
%load_ext sql

In [4]:
conn_string="postgresql://{db_user}:{db_password}@{host}:{db_port}/{db_name}".format(**dict(i for i in config['CLUSTER'].items()))
print(conn_string)
%sql $conn_string

postgresql://dwhprojectuser:ZPGZVXJlowercaseNPUKAKIATC7J@dwhprojectcluster.cvaqn4giq4fv.us-west-2.redshift.amazonaws.com:5439/dwhproject

'Connected: dwhprojectuser@dwhproject'

#### COPY
##### Song data copy

In [26]:
%%time
qry = """
    COPY staging_songs
    FROM '{source}'
    CREDENTIALS 'aws_iam_role={role_arn}'
    REGION '{region}'
    JSON 'auto';
""".format(
        source=config.get('S3', 'SONG_DATA'), 
        role_arn=config.get('IAM_ROLE', 'ARN'),
        region=config.get('AWS', 'REGION')
)
%sql $qry

 * postgresql://dwhprojectuser:***@dwhprojectcluster.cvaqn4giq4fv.us-west-2.redshift.amazonaws.com:5439/dwhproject
Done.
CPU times: user 5.32 ms, sys: 0 ns, total: 5.32 ms
Wall time: 2min 34s

##### Log data copy

In [27]:
%%time
qry = """
    COPY staging_events
    FROM '{source}'
    IAM_ROLE '{role_arn}'
    FORMAT AS JSON '{json_path}'
    REGION '{region}';
""".format(
        source=config.get('S3', 'LOG_DATA'), 
        role_arn=config.get('IAM_ROLE', 'ARN'), 
        json_path=config.get('S3', 'LOG_JSONPATH'), 
        region=config.get('AWS', 'REGION')
)
%sql $qry

 * postgresql://dwhprojectuser:***@dwhprojectcluster.cvaqn4giq4fv.us-west-2.redshift.amazonaws.com:5439/dwhproject
Done.
CPU times: user 4.69 ms, sys: 0 ns, total: 4.69 ms
Wall time: 1.67 s

##### Check error logs if any

In [28]:
%%sql
select *
from stl_load_errors le order by starttime desc
limit 5;

 * postgresql://dwhprojectuser:***@dwhprojectcluster.cvaqn4giq4fv.us-west-2.redshift.amazonaws.com:5439/dwhproject
0 rows affected.

[]

### INSERT
#### dim_users

In [29]:
%%time

qry = """
INSERT INTO dim_users (
    user_id,
    first_name,
    last_name,
    gender,
    level
)
SELECT 
    se.user_id, 
    se.first_name, 
    se.last_name, 
    se.gender, 
    se.level
FROM staging_events se
JOIN 
    (
        SELECT 
            user_id,
            max(ts) as ts
        FROM staging_events
        WHERE page = 'NextSong'
        GROUP BY user_id
    ) sea on sea.user_id = se.user_id and sea.ts = se.ts;
"""

%sql $qry

 * postgresql://dwhprojectuser:***@dwhprojectcluster.cvaqn4giq4fv.us-west-2.redshift.amazonaws.com:5439/dwhproject
96 rows affected.
CPU times: user 8.47 ms, sys: 0 ns, total: 8.47 ms
Wall time: 499 ms

#### dim_songs

In [30]:
%%time

qry = """
INSERT INTO dim_songs (
    song_id,
    title,
    artist_id_fk,
    year,
    duration
)
SELECT
    song_id,
    title,
    artist_id,
    CASE WHEN year = 0 THEN NULL ELSE year END AS year,
    duration
FROM staging_songs;
"""

%sql $qry

 * postgresql://dwhprojectuser:***@dwhprojectcluster.cvaqn4giq4fv.us-west-2.redshift.amazonaws.com:5439/dwhproject
14896 rows affected.
CPU times: user 6.8 ms, sys: 171 Âµs, total: 6.97 ms
Wall time: 618 ms

#### dim_artists

In [31]:
%%time

qry = """
INSERT INTO dim_artists (
    artist_id,
    name,
    location,
    latitude,
    longitude
)
SELECT
    artist_id,
    artist_name,
    artist_location,
    artist_latitude,
    artist_longitude
FROM staging_songs
GROUP BY 1,2,3,4,5;
"""

%sql $qry

 * postgresql://dwhprojectuser:***@dwhprojectcluster.cvaqn4giq4fv.us-west-2.redshift.amazonaws.com:5439/dwhproject
10025 rows affected.
CPU times: user 2.07 ms, sys: 4.36 ms, total: 6.43 ms
Wall time: 618 ms

#### dim_time

In [32]:
%%time

qry = """
INSERT INTO dim_time (
    start_time,
    hour,
    day,
    week,
    month,
    year,
    weekday
)
SELECT
    t.start_time,
    extract(hour from t.start_time) as hour,
    extract(day from t.start_time) as day,
    extract(week from t.start_time) as week,
    extract(month from t.start_time) as month,
    extract(year from t.start_time) as year,
    extract(weekday from t.start_time) as weekday
FROM 
    (
        SELECT
            TIMESTAMP 'epoch' + ts / 1000 * INTERVAL '1 second' as start_time
        FROM staging_events
        WHERE page = 'NextSong'
        GROUP BY 1
    ) t;
"""

%sql $qry

 * postgresql://dwhprojectuser:***@dwhprojectcluster.cvaqn4giq4fv.us-west-2.redshift.amazonaws.com:5439/dwhproject
6813 rows affected.
CPU times: user 10.1 ms, sys: 0 ns, total: 10.1 ms
Wall time: 724 ms

#### fact_songplays

In [33]:
%%time

qry = """
INSERT INTO fact_songplays (
    start_time,
    user_id,
    level,
    song_id,
    artist_id,
    session_id,
    location,
    user_agent
)
SELECT
    TIMESTAMP 'epoch' + se.ts / 1000 * INTERVAL '1 second' as start_time,
    se.user_id,
    se.level,
    so.song_id,
    so.artist_id,
    se.session_id,
    se.location,
    se.user_agent
FROM staging_events se
LEFT JOIN staging_songs so 
    ON se.song = so.title AND se.artist = so.artist_name
WHERE se.page = 'NextSong';
"""

%sql $qry

 * postgresql://dwhprojectuser:***@dwhprojectcluster.cvaqn4giq4fv.us-west-2.redshift.amazonaws.com:5439/dwhproject
6820 rows affected.
CPU times: user 7.71 ms, sys: 0 ns, total: 7.71 ms
Wall time: 5.17 s

### Exploring the data: Some (very basic) analytics queries

In [12]:
%%sql
SELECT
    count(user_id) 
FROM dim_users;

 * postgresql://dwhprojectuser:***@dwhprojectcluster.cvaqn4giq4fv.us-west-2.redshift.amazonaws.com:5439/dwhproject
1 rows affected.

[(96,)]

In [13]:
%%sql
SELECT
    count(artist_id) 
FROM dim_artists;

 * postgresql://dwhprojectuser:***@dwhprojectcluster.cvaqn4giq4fv.us-west-2.redshift.amazonaws.com:5439/dwhproject
1 rows affected.

[(10025,)]

In [11]:
%%sql
SELECT
    da.name AS artist_name, 
    count(*) AS listen_count 
FROM fact_songplays sp
JOIN dim_artists da
    ON da.artist_id = sp.artist_id
GROUP BY 1 order by 2 desc
LIMIT 10;

 * postgresql://dwhprojectuser:***@dwhprojectcluster.cvaqn4giq4fv.us-west-2.redshift.amazonaws.com:5439/dwhproject
10 rows affected.

[('Dwight Yoakam', 37),
 ('Kid Cudi / Kanye West / Common', 10),
 ('Kid Cudi', 10),
 ('Ron Carter', 9),
 ('Lonnie Gordon', 9),
 ('B.o.B', 8),
 ('Usher', 6),
 ('Muse', 6),
 ('Usher featuring Jermaine Dupri', 6),
 ('Richard Hawley And Death Ramps_ Arctic Monkeys', 5)]